terraform/
ny_taxi_postgres_data/
**.terraform
**.terraform.lock.*
.DS_Store
.idea
*.tf
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.binary
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
serving_dir
.ipynb_checkpoints/
*.csv*
*.parquet*
04-bigquery-analytics-engineering/docker/DTC_NYTAXI.code-workspace
04-bigquery-analytics-engineering/docker/profile.yaml