terraform/
ny_taxi_postgres_data/
**.terraform
**.terraform.lock.*
.DS_Store
.idea
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.binary
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
serving_dir
.ipynb_checkpoints/
terraform_basic/main.tf